<h5>You have visited this page <%= @visit_count %> times.</h5>
    <section>
      <div class="row">

        <% @blogs.each do |blog| %>

          <div class="col-sm-4">
            <div class="product_single">
              <h2 class="product_header"><%= blog.title %></h2>
              <p>title: <%= blog.title %></p>
              <a href="/blogs/<%= blog.id %>" title="View blog"></a>
          
            </div>
          </div>
        <% end %>

      </div>
    </section>
